h1 {
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    position: center;
    text-align: center;
}

body {
    background-color: #000000;
    position: fixed;
    overflow: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350%;
    width: 350%;
}